@charset "UTF-08";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(12, 136, 207, 0.747);
    align-items: center;
    justify-content: center;
    /*display: flex;*/

    
    background-image:url(/img/monkey.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 30%;
    width: 30%;

    

}

h1{
    font-size: 2em;

}

canvas{
    border: 5px solid rgb(38, 19, 122);
    background-color: black;
} 
